
# Python cache files
__pycache__/
*.pyc

# Virtual environment
venv/

# Environment variables
.env

# Logs
*.log

# Vagrant-specific files (optional)
.vagrant/

# IDE/editor files (optional)
*.swp
*.idea/
.vscode/

