apiVersion: apps/v1
kind: Deployment
metadata:
  name: soccer-api-deployment
  namespace: soccer
spec:
  replicas: 1

  strategy:
    type: RollingUpdate
    rollingUpdate:
      maxSurge: 1
      maxUnavailable: 0

  selector:
    matchLabels:
      app: soccer-api

  template:
    metadata:
      labels:
        app: soccer-api
    spec:
      terminationGracePeriodSeconds: 30
      containers:
        - name: soccer-api
          image: ghcr.io/10peter/soccer-devops-project/soccer-api:latest
          imagePullPolicy: Always
          ports:
            - containerPort: 8000

          lifecycle:
            preStop:
              exec:
                command: ["sh", "-c", "sleep 5"]

          resources:
            requests:
              cpu: "50m"
              memory: "64Mi"
            limits:
              cpu: "200m"
              memory: "128Mi"

          readinessProbe:
            httpGet:
              path: /health
              port: 8000
            initialDelaySeconds: 5
            periodSeconds: 10

          livenessProbe:
            httpGet:
              path: /health
              port: 8000
            initialDelaySeconds: 15
            periodSeconds: 20

